name: Docker Image CI

on:
  push:
    branches: [ "**" ]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-jar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Execute Gradle build
        run: |
          chmod +x ./gradlew
          ./gradlew clean build fatJar -x test

      - uses: actions/upload-artifact@v4
        with:
          name: test-telemetry-generator-all.jar
          path: build/libs/test-telemetry-generator-all.jar

  docker-image-ci:
    needs: build-jar
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v4
        with:
          name: test-telemetry-generator-all.jar
          path: build/libs

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag test-telemetry-generator:$(date +%s)